<!DOCTYPE HTML>
<!--[if IE 6]>
<html id="ie6" lang="en-US" class="ie ie6 lt-ie9">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US" class="ie ie7 lt-ie9">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US" class="ie ie8 lt-ie9">
<![endif]-->
<!--[if gte IE 9]>
<html lang="en-US" class="ie ie9">
<![endif]-->
<!--[if !(IE)]><!-->
<html lang="en-US" class="">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0 minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="author" content="marcolago">

	<meta name="description" content="Stubby DB is a complete solution to maintain stubs for rapid development.">

	<title>Stubby DB</title>
	<link rel="stylesheet" href="assets/css/reset.css">
	<link rel="stylesheet" href="css/flowtime.css">
	<link rel="stylesheet" href="css/themes/default.css">
	<link rel="stylesheet" href="assets/css/prism.css">
	<link rel="stylesheet" href="assets/css/custom.css">
</head>
<body class="">

	<div class="flowtime">
		<div class="ft-section" data-id="section-1">
			<div id="/section-1/page-1" class="ft-page" data-id="page-1" data-title="A framework to construct stubbed data services rapidly">
				<div class="stack-center">
					<div class="stacked-center">
						<img src="assets/img/stubbydb_logo.png"  class="center logo" />
						<p style="color: #a0a0a0"><span style="font-size: 7rem;">Stubby DB</span>3.0.0</p>
						<p><span class="letterpress">Developed by a victim:</span> Amit Gupta</p>
					</div>
				</div>
			</div>
			<div id="/section-1/page-2" class="ft-page" data-id="page-2">
				<h1>What is it?</h1>
				<p>A framework to construct stubbed data services rapidly.</p>
			</div>
			<div id="/section-1/page-3" class="ft-page" data-id="page-3">
				<h1>Why is it?</h1>
				With usual approach
				<div id="appcode">
					<div  class="left" style="width: 50%">
						<div id="appactions">
				  		<span class="greencode ft-fragment"><p>Set up</p>Initial code set up, logging, handling requests, server set up</span>
				  		<span class="bluecode ft-fragment"><p>Handling Response</p>generate dates, encode urls etc.
			Derive data from input</span>
				  		<span class="orangecode ft-fragment"><p>pieces of actual response</p></span>
				  		</div>
				  		<ul id="appproblems">
					  		<li class="ft-fragment">Code and stubs are tightly coupled.</li>
					  		<li class="ft-fragment">Code for stub data</li>
					  		<li class="ft-fragment">Not readable and difficult to understand</li>
					  	</ul>
				  	</div>
					<div id="codelines">
				    	<svg height="370" width="320">
							<g fill="none" >
							    <path class="svggreen greencode" d="M5 10 l300 0" />
							    <path class="svggreen greencode" d="M5 70 l130 0" />
							    <path class="svggreen greencode" d="M5 130 l250 0" />
							    <path class="svggreen greencode" d="M5 190 l100 0" />
							    <path class="svggreen greencode" d="M5 250 l140 0" />
							    <path class="svggreen greencode" d="M5 310 l300 0" />
							    <path class="svgblue bluecode" d="M5 50 l250 0" />
							    <path class="svgblue bluecode" d="M5 110 l100 0" />
							    <path class="svgblue bluecode" d="M5 170 l170 0" />
							    <path class="svgblue bluecode" d="M5 230 l240 0" />
							    <path class="svgblue bluecode" d="M5 290 l100 0" />
							    <path class="svgblue bluecode" d="M5 350 l180 0" />
							    <path class="svgorange orangecode" d="M5 30 l215 0" />
							    <path class="svgorange orangecode" d="M5 90 l80 0" />
							    <path class="svgorange orangecode" d="M5 150 l300 0" />
							    <path class="svgorange orangecode" d="M5 210 l200 0" />
							    <path class="svgorange orangecode" d="M5 270 l200 0" />
							    <path class="svgorange orangecode" d="M5 330 l230 0" />	
							</g>
							Sorry, your browser does not support inline SVG.
						</svg>
				  	</div>
				</div>
			</div>
			<div id="/section-1/page-4" class="ft-page" data-id="page-4">
			<h3>With Stubby DB</h3>
				<div id="stubbydbcode" class="outer">
			    	<svg height="370" width="320" class="greencode inner">
						<g fill="none" >
						    <path class="svggreen" d="M5 10 l300 0" />
						    <path class="svggreen" d="M5 70 l130 0" />
						    <path class="svggreen" d="M5 130 l250 0" />
						    <path class="svggreen" d="M5 190 l100 0" />
						    <path class="svggreen" d="M5 250 l140 0" />
						    <path class="svggreen" d="M5 310 l300 0" />
						</g>
						Sorry, your browser does not support inline SVG.
					</svg>
					<svg height="370" width="320" class="bluecode inner">
						<g fill="none">
						    <path class="svgblue" d="M5 50 l250 0" />
						    <path class="svgblue" d="M5 110 l100 0" />
						    <path class="svgblue" d="M5 170 l170 0" />
						    <path class="svgblue" d="M5 230 l240 0" />
						    <path class="svgblue" d="M5 290 l100 0" />
						    <path class="svgblue" d="M5 350 l180 0" />
						</g>
						Sorry, your browser does not support inline SVG.
					</svg>
					<svg height="370" width="320"  class="orangecode inner">
						<g fill="none">
						    <path class="svgorange" d="M5 30 l215 0" />
						    <path class="svgorange" d="M5 90 l80 0" />
						    <path class="svgorange" d="M5 150 l300 0" />
						    <path class="svgorange" d="M5 210 l200 0" />
						    <path class="svgorange" d="M5 270 l200 0" />
						    <path class="svgorange" d="M5 330 l230 0" />
						</g>
						Sorry, your browser does not support inline SVG.
					</svg>
			  	</div>
			</div>
		</div>
		<div class="ft-section" data-id="section-2">
			<div id="/section-2/page-1" class="ft-page" data-id="page-1" data-title="Features">
				<div class="stack-center">
					<div class="stacked-center">
						<p style="color: #a0a0a0"><span style="font-size: 7rem;">Features</span></p>
					</div>
				</div>
			</div>
			<div id="/section-2/page-2" class="ft-page" data-id="page-2" data-title="Features">
				<h1>Zero effort to setup & start</h1>
				Single command for installation.
				<pre class="prettyprint">$npm install stubby-db -g</pre>
				Single command for start up and configuration
<pre class="prettyprint">
$stubbydb
$stubbydb --help
</pre>

			</div>
			<div id="/section-2/page-3" class="ft-page" data-id="page-3" data-title="Features: Mappings">
				<h1>Mappings</h1>
<pre class="prettyprint">
-  request:
      method: POST
      url: /stubs/(admin|staff|customer|security)/([0-9]+)
      post: password=([a-zA-Z0-9]+)
      headers:
            custom: (\w)

   response:
      status: 200
      latency: 3000
      body: >
        multiple line response
        another line
      #file: authentication.xml
      headers:
            custom: <% url.2 %>
</pre>
			<div style="float: left">
				<ul>
					<li class="ft-fragment">Request part</li>
					<li class="ft-fragment">Multiple mappings files</li>
				</ul>
			</div>
			<div style="float: left">
				<ul>
					<li class="ft-fragment">Short notations</li>
					<li class="ft-fragment">Default mapping</li>
				</ul>
			</div>
			<div style="float: left">
				<ul>
					<li class="ft-fragment">Latency</li>
				</ul>
			</div>
			<p style="clear: left" class="ft-fragment">Continue...</p>
			</div>
			<div id="/section-2/page-4" class="ft-page" data-id="page-4" data-title="Features: Response strategy">
			<h1>Strategy</h1>
<pre class="prettyprint">
-  request:

   response:
      strategy: first-found
      files: ["authentication.xml", "fault.xml"]
</pre>
				<ul>
					<li class="ft-fragment">first-found</li>
					<li class="ft-fragment">random</li>
					<li class="ft-fragment">round-robin</li>
				</ul>
			</div>
			<div id="/section-2/page-5" class="ft-page" data-id="page-5" data-title="Features: Dumps">
				<h1>Dumps</h1>
				<p>Dumps are static files. You can include dumps anywhere in response.</p>
				<pre class="prettyprint">[[dumpspath:file1,file2]]</pre>
				<ul>
					<li class="ft-fragment">Consistency</li>
					<li class="ft-fragment">Break the response into multiple parts</li>
				</ul>
			</div>
			<div id="/section-2/page-6" class="ft-page" data-id="page-6" data-title="Features: Markers">
				<h1>Markers</h1>
				<p>To make response dynamic</p>

				<ul>
					<li class="ft-fragment">{{TODAY}}</li>
					<li class="ft-fragment">{{TODAY+N}} , {{TODAY-N}}</li>
					<li class="ft-fragment">{{TODAY-ny+nm-nd}}</li>
					<li class="ft-fragment">{{URL:someurl}}</li>
				</ul>
				
			</div>
			<div id="/section-2/page-7" class="ft-page" data-id="page-7" data-title="Features: DBsets">
				<h1>DB Sets</h1>
				<p>Skeleton based approach</p>
<pre  class="prettyprint">
-  request:
      url: /stubs/mix
      post: Hello ([a-zA-Z]+)!!
      method: POST

   dbset:
      db: Sample.txt
      key: '001'

   response:
      file: mix.txt	
</pre>
dbset		
<pre class="prettyprint">
    key |value      |markerval
    001 |1,2        |{{TODAY}}
    1   |value      |{{TODAY+1y-2m+3d}}	
</pre>

			</div>
			<div id="/section-2/page-8" class="ft-page" data-id="page-8" data-title="Features: Debug & Logs">
				<h1>Debugging</h1>
				<ul>
					<li class="ft-fragment">On screen summary</li>
					<li class="ft-fragment">debug.log, exceptions.log</li>
					<li class="ft-fragment">?debug=true</li>
				</ul>
			</div>

			<div id="/section-2/page-9" class="ft-page stunned" data-id="page-9" data-title="Features: Debug & Logs">
				<h3><strong>Going everything over the head ....?</strong>></h3>

				<div class="bet_time"><p>Let's do some practical...</p></div>
			</div>
		</div>

		<div class="ft-section" data-id="section-3">
			<div id="/section-3/page-1" class="ft-page" data-id="page-1" data-title="Case Study">
			<div class="stack-center">
					<div class="stacked-center">
						<p style="color: #a0a0a0"><span style="font-size: 7rem;">Case Study</span></p>
					</div>
				</div>
			</div>
			<div id="/section-3/page-2" class="ft-page" data-id="page-2" data-title="Case Study">
<pre class="prettyprint">
-  request:
      url: /stubs/(admin|staff|customer|security)/([0-9]+)

   dbset:
      db: <% url.1 %>
      key: <% url.2 %>

   response:
      file: authentication.xml	
</pre>

<span class="ft-fragment">admin dbset</span>

<pre class="prettyprint ft-fragment">
emp_num  | token
001      | safknf-34809n-skfnjk
002      | asfno0-230480932n-kjnkl
003      | nk002834-oknkjn-098nkjn	
</pre>

			<span class="ft-fragment">authentication.xml</span>
			<pre class="prettyprint ft-fragment">&lt;auth_id&gt;##token##&lt;/auth_id&gt;</pre>

			<p class="ft-fragment">What if url is <strong>localhost:7777/stubs/other/001</strong> ?</p>
			<p class="ft-fragment">What if url is <strong>localhost:7777/stubs/admin/004</strong> ?</p>

			</div>
			<div id="/section-3/page-3" class="ft-page" data-id="page-3" data-title="Case Study">
<pre  class="prettyprint">
-  request:
      url: /stubs/(admin|staff|customer|security)/([0-9]+)

   dbset:
      db: <% url.1 %>
      key: <% url.2 %>
      err: skip

   response:
      file: authentication.xml

-  request:
      url: /stubs/(admin|staff|customer|security)/([0-9]+)

   dbset:
      db: prohibited_user_db
      key: <% url.2 %>
      err: skip

   response:
      strategy: random
      files: ['unauthorized.xml','deleted.xml','locked.xml']

-  request:
      url: /stubs/(admin|staff|customer|security)/[0-9]+

   response:
      file: user_not_found.txt 	
</pre>
				
			</div>
			<div id="/section-3/page-4" class="ft-page" data-id="page-4" data-title="Case Study">
When key not found
<pre  class="prettyprint">
-  request:
      url: /stubs/(admin|staff|customer|security)/([0-9]+)

   dbset:
      db: <% url.1 %>
      key: <% url.2 %>
      err:
         file: fault.xml

   response:
      file: authentication.xml
</pre>
				
			</div>
			<div id="/section-3/page-4" class="ft-page" data-id="page-4" data-title="Case Study">
			<h1>Strategy</h1>
<pre  class="prettyprint">
-  request:
      url: /stubs/(admin|staff|customer|security)/[0-9]+

   dbset:
      db: authtokens
      strategy: random

   response:
      file: authentication.xml
</pre>
				
			</div>
		</div>


		<div class="ft-section" data-id="section-9">
			<div id="/section-4/page-1" class="ft-page" data-id="page-1">
				<h1>Use It! It’s Free</h1>
				<div class="left" style="width:48%">
					<p> </p>
					<p>This project is open source, feel free to contribute to the development on <a href="https://github.com/NaturalIntelligence/StubbyDB" target="_blank">Github</a>.</p>
					<p>Feedbacks, suggestions and bug reports are welcomes.</p>
					<p>If you like this work <strong>spread the word</strong>.</p>
				</div>
				<div class="left image-blurred-edge"></div>
				
			</div>
			<div id="/section-4/page-2" class="ft-page" data-id="page-2">
				<h1>Important Links</h1>
				<ul>
					<li><a href="https://github.com/NaturalIntelligence/StubbyDB">GitHub</a></li>
					<li><a href="https://github.com/NaturalIntelligence/StubbyDB/wiki">Wiki</a></li>
					<li><a href="https://github.com/NaturalIntelligence/StubbyDB/issues">Issues</a></li>
				</ul>
			</div>

			<div id="/section-4/page-3" class="ft-page" data-id="page-3" data-title="Thank You">
				<div class="stack-center">
					<div class="stacked-center">
						<p style="color: #a0a0a0"><span style="font-size: 7rem;">Thank You</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="assets/js/flowtime.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
	<script type="text/javascript">

		// Configuration API test
		Flowtime.showProgress(true);
		// Flowtime.fragmentsOnSide(true);
		// Flowtime.fragmentsOnBack(true);
		// Flowtime.useHistory(false);
		// Flowtime.slideInPx(true);
		// Flowtime.sectionsSlideToTop(true);
		// Flowtime.backFromPageToTop(true);
		// Flowtime.gridNavigation(false);
		// Flowtime.useOverviewVariant(true);
		Flowtime.parallaxInPx(true);
		//
		// event management
		// Flowtime.addEventListener("flowtimenavigation", onNavigation, false);
		// starts the application with configuration options
		Flowtime.start();

		Brav1Toolbox.addListener(window, "keydown", customAnimation);
		function customAnimation(e){
			if(e.keyCode == 40){
				var actionHolder = ".actual.hilite #appcode";
			  	if($(actionHolder).length > 0){
			  		$(actionHolder).dequeue();
			  		$(actionHolder).queue(function(){
			  			$(this).find(".greencode").show('slow');
			  		}).queue(function(){
			  			$(this).find(".bluecode").show('slow');
			  		}).queue(function(){
			  			$(this).find(".orangecode").show('slow');
			  		}).queue(function(){
			  			$(this).find("#appactions").hide("slow");
			  		}).queue(function(){
			  			$(this).find("#appproblems").show('slow');
			  		});
			  		e.preventDefault();
			  	}
			  }
			  if(e.keyCode == 13){
			  	var actionHolder = ".actual.hilite #stubbydbcode";
			  	if($(actionHolder).length > 0){
			  		$(actionHolder).dequeue();
			  		$(actionHolder).queue(function(){
			  			$(this).find(".greencode").hide('slow');
			  		}).queue(function(){
			  			$(this).find(".bluecode").animate({ "left": "+=100px" }, "slow" );
			  			$(this).find(".orangecode").animate({ "left": "-=100px" }, "slow" );
			  		});
			  	}
			}
		}

		$(document).ready(function(){
			$("#appcode .greencode").hide();
			$("#appcode .bluecode").hide();
			$("#appcode .orangecode").hide();
		});
/*var x=0;
$('.actual.hilite #appcode .greencode').each(function () {
   x += 100;
   $(this).attr('transform', 'translate('+x+', 0)');
});*/
	</script>
</body>
</html>
