.letterpress{
	color: #222;
	text-shadow: 0px 2px 3px #555;
}

.svggreen {
	stroke:#66CC00;
}
.svgblue {
	stroke:#3399FF;
}
.svgorange {
	stroke:orange;
}

.svgbar{
	stroke-width:10;
}

path {
   stroke-linecap: round;
   stroke-width : 8;
}

.left  {
	float: left;
}

.empty{
	width: 10%;
}

.right{
	float: right;
}

.outer {
  position: relative;
  width: 100%%;
  height: 100%;
  margin: 20px auto;
}

.inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 50%;
  margin-left: -50px;
}

img.logo{
  width: 50%;
  height: auto;
  display: inline;
}

.stunned{
  background: url("../img/Nushi_stunned.jpg") no-repeat;
  background-color:rgba(255,255,255,0.9);
  background-size:cover;
}

.allthebest{
  background: url("../img/allthebest.jpg") no-repeat;
  background-color:rgba(255,255,255,0.9);
  background-size:cover;
}

.bet_time {
    position:absolute;
    bottom:0;
    right:0;
}

.image-blurred-edge-study {
    background: url('../img/study.jpg') left top no-repeat;
    box-shadow: 0 0 8px 8px #424242 inset;
    width: 40%;
    height: 100%;
    background-size:cover;
}

.image-blurred-edge {
    background: url('../img/nushi_camera.jpg') left top no-repeat;
    box-shadow: 0 0 8px 8px #424242 inset;
    width: 40%;
    height: 100%;
}

.image-blurred-edge-goaway {
    background: url('../img/goaway.jpg') left top no-repeat;
    box-shadow: 0 0 8px 8px #424242 inset;
    width: 40%;
    height: 100%;
}